<%- include('./header.ejs')%>

<style>
  img{
    height: 60px;
  }
</style>


 <div class="container-fluid">
    <div class="row">

    
        <div class="col-sm-3 col-md-3 col-lg-2 p-0">
            <%- include('./leftdb.ejs')%>
        </div>

        
        <div class="col-sm-7 col-md-7 col-lg-10 " style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
              
        
<% if(sellingdata.length>0){%>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    
                    <th>PRODUCT-NAME</th>
                    <th>PRODUCT-DESCRIPTION</th>
                    <th>PRODUCT-PRICE</th>
                    <th>PRODUCT-DISCOUNT</th>                    
                    <th>PRODUCT-IMAGE</th>                    
                    <th>Edit - Delete</th>                    
                                     
                                   
                    
                  </tr>
                </thead>
                </tbody>
                <%for(var i=0; i<sellingdata.length; i++){%>
                  <tr>
                    <td><%= sellingdata[i].productname %></td>
                    <td><%= sellingdata[i].productdescription %></td>
                    <td><%= sellingdata[i].price %></td>
                    <td><%= sellingdata[i].discount %></td>
                    <td> <img  src="http://localhost:7000/upload/<%= sellingdata[i].image %>"></td>
                    <td><a href="/edit1/<%=sellingdata[i]._id %>">Edit</a>&nbsp;&nbsp;
                      <a href="/delete2/<%=sellingdata[i]._id %>">Delete</a></td>
                  </tr>
                  <% } %>
                  </tbody>
               
                
              </table>
              <% } else {%>
                no record found
        <% } %>

    </div>
</div>
